<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/client/layout/base}"
>

<th:block layout:fragment="css">
  <!-- css -->
</th:block>

<th:block layout:fragment="js">
  <!-- js -->
</th:block>

<th:block layout:fragment="content">
  <!-- content -->
  <div class="container">

    <!--  배너  -->
    <div class="banner center">
      <p>PENTA News</p>
    </div>

    <!--  검색  -->
    <div class="search">

    </div>

    <!--  게시판  -->
    <div class="board">

    </div>

    <!--  페이징 (프라그먼트로 만들자)  -->


  </div>
</th:block>

</html>
