<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>

<head>
  <!-- 기본 설정 (공용 meta, css, js) -->
  <th:block th:replace="~{common/fragments/config :: config}"></th:block>

  <link rel="stylesheet" th:href="@{/css/client/fragments/base.css}" />

  <!-- 추가 css -->
  <th:block layout:fragment="css"></th:block>
  <!-- 추가 js -->
  <th:block layout:fragment="js"></th:block>
</head>

<body>

<!-- header -->
<th:block th:replace="~{common/fragments/header :: header}"></th:block>

<!--  content -->
<main>
  <th:block layout:fragment="content"></th:block>
</main>

<!-- footer -->
<th:block th:replace="~{common/fragments/footer :: footer}"></th:block>

</body>
</html>
