<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>

<th:block th:fragment="config">
  <!--  공통 메타태그  -->
  <meta charset="UTF-8">

  <title>Title</title>

  <!--  공통 css  -->
  <link rel="stylesheet" th:href="@{/css/common/style.css}" />
  <link rel="stylesheet" th:href="@{/css/common/util.css}" />

  <!-- 레이아웃 css -->
  <link rel="stylesheet" th:href="@{/css/client/layout/fragments/header.css}" />
  <link rel="stylesheet" th:href="@{/css/client/layout/fragments/footer.css}" />

  <!--  공통 js  -->
  <script th:src="@{/js/common/util/webUtil.js}"></script>
  <script th:src="@{/js/common/util/domUtil.js}"></script>
  <script th:src="@{/js/common/util/fileUtil.js}"></script>
  <script th:src="@{/js/common/util/pageUtil.js}"></script>

  <!-- 에디터 CDN TODO: api키 관리 (노출되지 않게) -->
  <script src="https://cdn.tiny.cloud/1/jxyxmzjv2p7bqoht37l4t9rhfnzr4ollkbrhz4uzq9baejkq/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
  <script th:src="@{/js/common/util/editorUtil.js}"></script>

</th:block>

</html>
