<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>

<th:block th:fragment="config">
  <!--  공통 메타태그  -->
  <meta charset="UTF-8">

  <title>Title</title>

  <!--  공통 css  -->
  <link rel="stylesheet" th:href="@{/css/common/style.css}" />
  <link rel="stylesheet" th:href="@{/css/common/util.css}" />

  <!-- 레이아웃 css -->
  <link rel="stylesheet" th:href="@{/css/client/layout/fragments/header.css}" />
  <link rel="stylesheet" th:href="@{/css/client/layout/fragments/footer.css}" />

  <!--  공통 js  -->
  <script th:src="@{/js/common/webUtil.js}"></script>
  <script th:src="@{/js/common/domUtil.js}"></script>
</th:block>

</html>
