<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/client/layout/base}"
>

<th:block layout:fragment="css">
  <!-- css -->
  <link rel="stylesheet" th:href="@{/css/client/index.css}">
</th:block>

<th:block layout:fragment="js">
  <!-- js -->
</th:block>

<th:block layout:fragment="content">
  <!-- content -->
  <div class="content center">
    <h1>PENTABREED</h1>
  </div>
</th:block>

</html>
