<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{client/layout/base}"
>

<th:block layout:fragment="css">
  <!-- css -->
  <link rel="stylesheet" th:href="@{/css/client/news/detail.css}">
</th:block>

<th:block layout:fragment="js">
  <!-- js -->
  <script th:src="@{/js/client/news/news.js}"></script>
  <script th:src="@{/js/client/news/detail.js}"></script>
</th:block>

<th:block layout:fragment="content">
  <!-- content -->
  <div class="container">

    <!--  배너  -->
    <div class="banner center">
      <span class="banner-category" th:text="${newsDTO.category.getValue()}"></span>
      <span class="banner-title" th:text="${newsDTO.title}"></span>
    </div>

    <!--  컨텐츠  -->
    <div class="content-container">

      <!-- 컨텐츠 탑 -->
      <div class="content-top">
        <div class="content-top-left center">
          <div class="nickname" th:text="${newsDTO.nickname}">닉네임</div>
          <div class="createDt" th:text="${#temporals.format(newsDTO.createDt, 'yyyy.MM.dd')}">2025.01.01</div>
        </div>
        <div class="content-top-right center">
          <div class="views" th:text="|조회수 ${newsDTO.hits}|">조회수</div>
          <div class="likes center">
            <button class="likes-button" id="likes" th:onclick="toggleLikes('[[${newsDTO.id}]]')">❤</button>
            <span id="likes-count" th:text="${newsDTO.likes}">0</span>
          </div>
        </div>
      </div>

      <!-- 컨텐츠 -->
      <div class="content-body">

        <!-- 파일 -->
        <div class="file">
          <span>첨부파일</span>
          <!-- 파일 없을 때 -->
          <a class="file-name" th:if="${newsDTO.newsFileDTO == null}">없음</a>

          <!-- 파일 있을 때 (TODO: fullPath 받아와서 fullPath, originalName만 넘기도록 수정하자) -->
          <th:block th:if="${newsDTO.newsFileDTO != null}">
            <a class="file-name" id="news-file"
               th:text="${newsDTO.newsFileDTO.originalName}"
               th:attr="data-save-path=${newsDTO.newsFileDTO.savePath}
                      , data-save-name=${newsDTO.newsFileDTO.saveName}
                      , data-extension=${newsDTO.newsFileDTO.extension}
                      , data-original-name=${newsDTO.newsFileDTO.originalName}"
               onclick="newsFileDownload(this)"
            ></a>
          </th:block>
        </div>

        <div class="content" th:utext="${newsDTO.content}">
        </div>

      </div>

      <!-- 댓글 -->
      <div class="comment">

        <div class="comment-top" th:text="|댓글 ${newsDTO.newsCommentDTOList.size()}|">댓글 N</div>

        <!-- 댓글 등록 폼 -->
        <div class="comment-save">

          <div class="comment-input-container">

            <div class="auth">
              <input type="text" class="nickname input" name="comment-save-nickname" id="comment-save-nickname" placeholder="닉네임 입력"/>
              <input type="password" class="password input" name="comment-save-password" id="comment-save-password" placeholder="비밀번호 입력"/>
              <input type="password" class="password-check input" name="comment-save-password-check" id="comment-save-password-check" placeholder="비밀번호 확인"/>
            </div>

            <div class="comment-save-content-container">
              <textarea class="input"
                        id="comment-save-content"
                        name="comment-save-content"
                        placeholder="타인의 권리를 침해하거나 명예를 훼손하는 댓글은 운영원칙 및 관련 법률에 따라 제재를 받을 수 있습니다."
                        rows="5"
              ></textarea>
            </div>

          </div>

          <div class="comment-save-button-container">
            <button class="comment-save-button button" th:onclick="saveComment('[[${newsDTO.id}]]')">등록</button>
          </div>

        </div>

        <!-- 댓글 목록 -->
        <div class="comment-list">

          <div class="comment-detail"
               th:each="comment : ${newsDTO.newsCommentDTOList}"
          >
            <div class="comment-detail-nickname" th:text="${comment.nickname}">PENTABREED</div>
            <div class="comment-detail-container">
              <div class="comment-detail-container-left" th:text="${comment.content}">댓글입니다. 댓글입니다. 댓글입니다.</div>
              <div class="comment-detail-container-right">
                <div th:text="${#temporals.format(comment.createDt, 'yyyy-MM-dd HH:mm')}">2025.01.05 09:20</div>
                <button class="comment-detail-delete-button button" th:onclick="showDeleteCommentModal('[[${comment.id}]]')">X</button>
              </div>
            </div>
            <button class="comment-detail-toggle-reply-button button" th:onclick="toggleCommentReply('[[${comment.id}]]')">
              <span>답글</span>
              <span th:id="|replyCount-${comment.id}|" th:text="${comment.replyCount > 0 ? comment.replyCount : ''}"></span>
            </button>

            <!-- 대댓글 -->
            <div class="comment-reply" th:id="|comment-reply-${comment.id}|">

              <div th:id="|comment-reply-${comment.id}-list-container|">
                <th:block th:replace="~{client/news/fragments/comment-reply-list-inner :: comment-reply-inner}"></th:block>
              </div>

              <div class="comment-save">
                <div class="comment-input-container">

                  <div class="reply-indent">ㄴ</div>

                  <div class="auth">
                    <input type="text" class="nickname input" th:id="|comment-reply-${comment.id}-nickname|" placeholder="닉네임 입력"/>
                    <input type="password" class="password input" th:id="|comment-reply-${comment.id}-password|" placeholder="비밀번호 입력"/>
                    <input type="password" class="password-check input" th:id="|comment-reply-${comment.id}-password-check|" placeholder="비밀번호 확인"/>
                  </div>

                  <div class="comment-save-content-container">
                    <textarea class="input"
                              name="comment-save-content"
                              th:id="|comment-reply-${comment.id}-content|"
                              placeholder="타인의 권리를 침해하거나 명예를 훼손하는 댓글은 운영원칙 및 관련 법률에 따라 제재를 받을 수 있습니다."
                              rows="5"
                    ></textarea>
                  </div>

                </div>

                <div class="comment-save-button-container">
                  <button class="comment-save-button button" th:onclick="saveCommentReply('[[${newsDTO.id}]]', '[[${comment.id}]]')">등록</button>
                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

      <div class="content-button-container">
        <div class="content-button-left"></div>
        <div class="content-button-center">
          <button class="list-button button" onclick="goTo('/client/news/list')">목록보기</button>
        </div>
        <div class="content-button-right">
          <button class="reply-button button" th:onclick="goReplyForm('[[${newsDTO.id}]]', '[[${newsDTO.depth}]]')">답글</button>
          <button class="update-button button" th:onclick="showUpdateNewsModal('[[${newsDTO.id}]]')">수정</button>
          <button class="delete-button button" th:onclick="showDeleteNewsModal('[[${newsDTO.id}]]')">삭제</button>
        </div>

      </div>

    </div>

  </div>


  <!-- 댓글 삭제 패스워드 모달 -->
  <div class="password-modal" id="comment-delete-modal">
    <div>
      <button class="close-button button" onclick="closeDeleteCommentModal()">X</button>
    </div>
    <div class="modal-title">비밀번호</div>
    <div class="modal-content-container">
      <input type="password" class="modal-password-input input" id="comment-delete-password" autocomplete="off"/>
      <button type="button" class="execute-button button" onclick="deleteComment()">확인</button>
    </div>
  </div>

  <!-- 대댓글(댓글의 답글) 삭제 패스워드 모달 -->
  <div class="password-modal" id="comment-reply-delete-modal">
    <div>
      <button class="close-button button" onclick="closeDeleteCommentReplyModal()">X</button>
    </div>
    <div class="modal-title">비밀번호</div>
    <div class="modal-content-container">
      <input type="password" class="modal-password-input input" id="comment-reply-delete-password" autocomplete="off"/>
      <button type="button" class="execute-button button" onclick="deleteCommentReply()">확인</button>
    </div>
  </div>

  <!-- 뉴스 삭제 패스워드 모달 -->
  <div class="password-modal" id="news-delete-modal">
    <div>
      <button class="close-button button" onclick="closeDeleteNewsModal()">X</button>
    </div>
    <div class="modal-title">비밀번호</div>
    <div class="modal-content-container">
      <input type="password" class="modal-password-input input" id="news-delete-password" autocomplete="off"/>
      <button type="button" class="execute-button button" onclick="deleteNews()">확인</button>
    </div>
  </div>

  <!-- 뉴스 수정 패스워드 모달 -->
  <div class="password-modal" id="news-update-modal">
    <div>
      <button class="close-button button" onclick="closeUpdateNewsModal()">X</button>
    </div>
    <div class="modal-title">비밀번호</div>
    <div class="modal-content-container">
      <input type="password" class="modal-password-input input" id="news-update-password" autocomplete="off"/>
      <button type="button" class="execute-button button" onclick="goNewsUpdateForm()">확인</button>
    </div>
  </div>

</th:block>

</html>
