<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/client/layout/base}"
>

<th:block layout:fragment="css">
  <!-- css -->
  <link rel="stylesheet" th:href="@{/css/client/news/list.css}">
  <link rel="stylesheet" th:href="@{/css/common/page-navigation.css}">
</th:block>

<th:block layout:fragment="js">
  <!-- js -->
  <script th:src="@{/js/client/news/list.js}"></script>
</th:block>

<th:block layout:fragment="content">
  <!-- content -->
  <div class="container">

    <!--  배너  -->
    <div class="banner center">
      <p>PENTA News</p>
    </div>

    <!--  검색  -->
    <div class="search">
      <div class="input-container">
        <input type="text" class="search-input input" id="keyword" name="keyword" placeholder="검색어를 입력해주세요" oninput="syncEraser()" />
        <button class="clear-button" id="eraser" onclick="eraseKeyword()">X</button>
      </div>
      <button class="search-button button" onclick="searchPage(1)">검색</button>
    </div>

    <div class="news">

      <!-- 게시판 -->
      <div id="news-container">
        <th:block th:replace="~{/client/news/fragments/list-inner :: list-inner}"></th:block>
      </div>

      <div class="form-container">
        <button class="form-button button" onclick="goTo('/client/news/form')">글쓰기</button>
      </div>
    </div>

  </div>
</th:block>

</html>
