<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/layout/base}"
>

<!--<th:block layout:fragment="css">-->
<!--  <link rel="stylesheet" th:href="@{/css/admin/content.css}">-->
<!--</th:block>-->

<th:block>
  <script th:src="@{/js/admin/auth/login.js}"></script>
</th:block>

<th:block layout:fragment="content">

  <div class="content">
    <input type="text" name="memberId" placeholder="ID"/>
    <input type="password" name="memberId" placeholder="PW"/>

    <button onclick="login();">Login</button>
  </div>

</th:block>

</html>
