<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<haed>
  <meta charset="UTF-8">
  <title>[관리자] 로그인</title>

  <!-- css -->
  <link rel="stylesheet" th:href="@{/css/common/util.css}" />
  <link rel="stylesheet" th:href="@{/css/admin/auth/login.css}" />

  <!-- js -->
  <script th:src="@{/js/common/util/webUtil.js}"></script>
  <script th:src="@{/js/common/util/domUtil.js}"></script>
  <script th:src="@{/js/admin/auth/login.js}"></script>
</haed>

<body>

<div class="container center">

  <div class="logo center">
    사진
  </div>

  <div class="auth center">
    <div class="input-container center">
      <input class="input" type="text" name="memberId" id="memberId" placeholder="ID"/>
      <input class="input" type="password" name="password" id="password" placeholder="PW"/>
    </div>
    <button class="button" onclick="login();">Login</button>
  </div>

</div>

</body>
</html>
