.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.button {
  cursor: pointer;
  padding: 0.3rem 0.8rem;
  border-radius: 6px;
  font-size: medium;
  font-weight: 500;
  border: none;

  background-color: darkturquoise;
  color: #fff;
}
.button:hover {
  background-color: #00b6ba;
}
.button:active {
  transform: scale(0.98);
}

.input {
  width: 95%;
  padding: 0.4rem 0.8rem;
  border: 1px solid #ccc;
  border-radius: 6px;

  font-size: 1rem;
  outline: none;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

/* 포커스 시 버튼 컬러와 통일감 있게 */
.input:focus {
  border-color: #666666;
  box-shadow: 0 0 0 3px rgba(102, 102, 102, 0.2);
}

.select {
  width: 50%;
  padding: 0.4rem 0.8rem;
  border: 1px solid #ccc;
  border-radius: 6px;

  font-size: 1rem;
  outline: none;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

/* 포커스 시 버튼 컬러와 통일감 있게 */
.select:focus {
  border-color: #666666;
  box-shadow: 0 0 0 3px rgba(102, 102, 102, 0.2);
}