.container {
  margin-bottom: 20px;
}

/******************** 배너 ********************/
.banner {
  margin-top: 10px;
  flex-direction: column;
}

.banner-title{
  font-size: xx-large;
  font-weight: bold;
}

/******************** 컨텐츠 탑 (작성자, 작성일, 조회수, 좋아요 ...) ********************/
.content-container {
  margin-top: 10px;
}

.content-top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-bottom: 10px;
  border-bottom: 2px solid gray;
}

.content-top-left .nickname {
  font-weight: bold;
}

.content-top-left .createDt {
  margin-left: 10px;
}

.content-top-right .views {

}

.content-top-right .likes {
  margin-left: 10px;
}

/******************** 컨텐츠 바디 ********************/
.content-body {
  margin-top: 20px;
}

.content-body .file .file-name{
  margin-left: 10px;
}

.content-body .content {
  margin-top: 20px;
  border: 1px solid gray;
  padding: 10px;

  min-height: 500px;
}


/******************** 댓글 ********************/
.comment {
  margin-top: 20px;
}

/* 댓글 저장 */
.comment-save {
  margin-top: 5px;
  background-color: #f9f9f9;
  border-top: 2px solid darkturquoise;
  border-bottom: 2px solid darkturquoise;
  padding: 10px;
}

.comment-input-container {
  display: flex;
  flex-direction: row;
}

.comment-input-container .auth {
  width: 20%;

}
.comment-input-container .auth .password, .password-check {
  margin-top: 5px;
}
.comment-input-container .comment-save-content-container {
  width: 80%;
  margin-left: 20px;
}

.comment-save-button-container {
  display: flex;
  align-items: center;
  justify-content: end;
}

/* 댓글 내용 */
.comment-list {
  margin-top: 20px;
}

.comment-detail {
  margin-top: 10px;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
}

.comment-detail-nickname {
  font-weight: bold;
}

.comment-detail-container {
  margin: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comment-detail-container-left {}
.comment-detail-container-right {
  display: flex;
}

.comment-detail-delete-button {
  background-color: gray;
  margin-left: 10px;
}
.comment-detail-delete-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.comment-detail-toggle-reply-button {
  margin-top: 5px;
  border: 1px solid gray;
  background-color: white;
  color: black;
}
.comment-detail-toggle-reply-button:hover {
  background-color: #f9f9f9;
}


/******************** 대댓글(댓글의 답글) ********************/
.reply-indent {
  padding-left: 20px;
  margin: 10px;
  font-size: 20px;
}

.comment-reply {
  display: none;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid gray;
}

.comment-reply-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;

  border-bottom: 1px solid gray;

}

.comment-reply-container .reply-indent {
  padding-left: 30px;
}

.comment-reply-container .comment-reply-detail {
  flex: 9;
}


/******************** 컨텐츠 버튼 ********************/
.content-button-container {
  margin: 30px 0;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.content-button-center {
  margin: 0 auto;
}

.content-button-right {
  display: flex;
  justify-content: end;
  gap: 12px;
}

.list-button {
  background-color: gray;
}
.list-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.reply-button, .update-button {
  background-color: lightgray;
}
.reply-button:hover, .update-button:hover {
  background-color: gray;
}

.delete-button {
  background-color: red;
}
.delete-button:hover {
  background-color: darkred;
}


/******************** 삭제 모달 ********************/
.password-modal {
  display: none;
  position: fixed;
  right: 5%;
  bottom: 15%;
  flex-direction: column;

  background-color: rgba(100, 100, 100, 0.5);
  padding: 20px 20px;
  border-radius: 6px;
}

.modal-content-container {
  display: flex;
}
.close-button {
  position: absolute;
  right: 10px;
  top: 10px;

  background-color: transparent;
  color: black;
}
.close-button:hover {
  background-color: #cccccc;
}
.modal-title {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
.modal-content-container {
  margin-top: 10px;
}
.modal-password-input {
  width: 63%;
}
.execute-button {
  position: absolute;
  right: 20px;
}

/* 파일 */
.file a {
  cursor: pointer;
  font-weight: bold;
  color: #666666;
  text-decoration: underline;
}
