.container {
  margin-top: 10px;
}

/******************** 배너 ********************/
.banner {
  background-color: #f9f9f9;
}

.banner p {
  font-size: xx-large;
  font-weight: bold;
}

/******************** 검색 ********************/
.search {
  display: flex;
  justify-content: end;
  width: 100%;
  margin-top: 10px;
}

.search .input-container {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.search .input-container .search-input {
  flex: 1;
  width: 18rem;
}

.search .input-container .clear-button {
  position: absolute;
  right: 5px;
  border: none;
  font-size: large;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  color: white;

}

.search .input-container .clear-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.search .search-button {
  background-color: gray;
}

.search .search-button:hover {
  background-color: #666666;
}

/******************** 게시판 ********************/
.news {
}

.news .totalCount span {
  font-size: large;
}

.news table {
  width: 100%;
  margin-top: 5px;
  text-align: center;
}

.news table th, td {
  border-bottom: 1px solid gray;
}

.news table th {
  background-color: lightgray;
}

.news table tr:hover {
  background-color: #f9f9f9;
  cursor: pointer;

}

.news .form-container {
  display: flex;
  justify-content: end;
  margin-top: 5px;
}

